
= form_for @move, :html => { :class => 'form-vertical' } do |f|
  %fieldset
    %legend
      Plan Your Move
    .control-group
      = label_tag :home_template, "Size"
      .controls
        = select_tag :home_template_id, options_for_select(@home_templates.collect{|ht| ["#{ht.title}", ht.id ]})
    
    .form-actions
      %button.btn.btn-primary.btn-large{type: "submit"}
        Next
        %i.icon.icon-chevron-right

    
    / .control-group
    /   = f.label :date_tolerance, "Within ", class: 'control-label'
    /   .controls
    /     .input-append
    /       = f.number_field :date_tolerance, class: 'input-mini', required: true, default: 2, min:0
    /       %span.add-on days