.page-header
  %h1 Moves
%table.table.table-striped
  %thead
    %tr
      %th Move Distance
      %th Move Date
      %th Inventory Size
      %th Inventory Volume
      %th # Bids
  %tbody
    = render collection: @moves

= link_to t('.new', :default => t("helpers.links.new")), new_move_path, :class => 'btn btn-primary'
